@font-face {
	font-family: 'Pretendard_ExtraBold';
	src:url('../img/fonts/Pretendard_ExtraBold.otf');
}
@font-face {
	font-family: 'Pretendard_Black';
	src:url('../img/fonts/Pretendard-Black.otf');
}
@font-face {
	font-family: 'Pretendard_Bold';
	src:url('../img/fonts/Pretendard-Bold.otf');
}
@font-face {
	font-family: 'Pretendard_SemiBold';
	src:url('../img/fonts/Pretendard-SemiBold.otf');
}
@font-face {
	font-family: 'Pretendard_Medium';
	src:url('../img/fonts/Pretendard-Medium.otf');
}
@font-face {
	font-family: 'Pretendard_Regular';
	src:url('../img/fonts/AppleSDGothicNeoR.otf');
}
@font-face {
	font-family: 'Pretendard_Light';
	src:url('../img/fonts/Pretendard-Light.otf');
}
@font-face {
	font-family: 'Pretendard_ExtraLight';
	src:url('../img/fonts/Pretendard-ExtraLight.otf');
}
@font-face {
	font-family: 'Pretendard_Thin';
	src:url('../img/fonts/Pretendard-Thin.otf');
}
@font-face {
	font-family: 'Tenada';
	src:url('../img/fonts/Tenada.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
                                               * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
img { -webkit-user-drag: none; user-drag: none; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
    display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
    cursor: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
    text-decoration: none;
    color: inherit; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    width: 100vw;
    height: auto;
    background-color: #fff;
    font-family: 'Pretendard_Medium';
}
::-webkit-scrollbar {
    width: .8vw;
}

::-webkit-scrollbar-thumb {
    background-color: #FC3B3C;
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.507);
}

::-webkit-scrollbar-track {
    background-color: #ffe7e3;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.507);
}
.grid{
    position: absolute;
    left: 0;
    top:0;
    z-index: 100;
    opacity: 20%;
    width: 100vw;
}
main {
    z-index: 1;
    background-color: #FC3B3C;
}
#wrap{
    width: 100%;
    height: auto;
    /* overflow-x: hidden; 스티키가 안됨 이것떄문에 */
}

/* 네비게이션 바 */
header {
    display: flex;
    z-index: 20;
    overflow: hidden;
    height: 10vh;
    background-color: #ffc0a9a8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    transition: all 1s ease;
}
header:hover{
    background-color: #ffc0a9f5;
}
header.down {
    top: -10vh;
}
header.up {
    top: 0;
    transition: all 1s ease;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6vw;
    color: #fff;
}
.logo a {
    text-decoration: none;
    font-size: calc(100vw * 28/ 1920);
    font-weight: bolder;
    color: #fff;
    display: inline-block;
}
.nav-right li a:hover,.logo a:hover {
    color: #FC3B3C;
    transition: all 1s ease;
}
header ul {
    list-style: none;
    display: flex;
}
.nav-right {
    display: flex;
    align-items: center;
    margin-right: 5vw;
}
.nav-right a {
    color: #fff;
    font-size: calc(100vw * 24/ 1920);
    text-decoration: none;
    margin-left: 4vw;
}
@keyframes over{
    0%{
        margin-top: 0px;    
        opacity: 1;
    }
    70%{
        margin-top: -100px;    
        opacity: .6;
    }
    100%{
        margin-top: -100px;  
        opacity: 0; 
    }
}
.nav-up {
    opacity: 0;
    margin-top: -100px;
}
.nav-down{
    animation: over 2s ease reverse;
}

#topButton {
    position: fixed;
    right: 3vw;
    bottom: 3vw;
    width: 4vw;
    height: 4vw;
    border: none;
    border-radius: 50%;
    background-color: #ff4d4d8e;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
    box-shadow: 0 0.4vw 1vw rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

#topButton:hover {
    background-color: #ff7070;
    transform: scale(1.1);
}
.pointer {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.6vw);
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.15);
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.15s ease-out, background 0.3s ease-out, box-shadow 0.3s ease-out;
  z-index: 9999;
}

/* 클릭 시 반응 */
.pointer.active {
  transform: translate(-50%, -50%) scale(0.8);
  background: rgba(255, 180, 180, 0.3);
  box-shadow: 0 0 2vw rgba(255, 150, 150, 0.4);
}

html {
    scroll-behavior: smooth;
}
footer img{
    width: 100vw;
}