#video_main{
    width: 100vw;
    height: 56.5vw;
    background-image: url("../img2/main.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.eyes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye {
    width: clamp(2vw, 15vw, 50vw);
    height: clamp(2vw, 16vw, 20vw);
    background: #fff;
    border-radius: 50%;
    position: relative;
    margin-top: 9.6vw;
    overflow: hidden;
}
.eye + .eye {
  margin-left: -4vw; /* 겹치는 정도: -3vw ~ -6vw로 조절 가능 */
}
.pupil {
    width: 30%;
    height: 50%;
    background: #000;
    border-radius: 60% / 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.pupil::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 8%;
    border-radius: 100%;
    background: #fff;
    left: -20%;
    top: 24%;
    opacity: 0.95;
}
.eyes .eye:nth-child(1) .pupil {
    transform: translate(calc(-50% + -6%), calc(-50% + -2%));
}
.eyes .eye:nth-child(2) .pupil {
    transform: translate(calc(-50% + 6%), calc(-50% + -2%));
}

#video_content{
    width: 100vw;
    height: 80vw;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#video_content h1{
    margin-top: 7vw;
    text-align: center;
      line-height: 1.2; /* 글자 크기의 1.6배 간격 */
    font-size: calc(100vw * 25 / 1920);
    font-family: 'Pretendard_Medium';
}
#video{
    margin-top: 6.6vw;
    width: 87.8vw;
    height: 49vw;
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    width: 87.8vw;
    height: 49vw;
}
